ODRA_CASPER_LIVENET_NODE_ADDRESS=https://node.testnet.casper.network
ODRA_CASPER_LIVENET_EVENTS_URL=https://node.testnet.casper.network/events
ODRA_CASPER_LIVENET_CHAIN_NAME=casper-test
ODRA_CASPER_LIVENET_SECRET_KEY_PATH=/Users/zytfo/Desktop/Projects/hackathon/keys/owner/secret_key.pem
ODRA_CASPER_LIVENET_KEY_1=/Users/zytfo/Desktop/Projects/hackathon/keys/device/secret_key.pem
